<nav class="footer_nav">
    <a href="/home"><p class="footer_icon" id="footer_home"><i class="fa-solid fa-house-user"></i></p></a>
    <a href="/search"><p class="footer_icon"><i class="fa-solid fa-magnifying-glass-dollar"></i></p></a>
    <a href="/shop-brands"><p class="footer_icon" id="footer_shop" ><i class="fa-solid fa-car"></i></p></a>
    <a href="/message"><p class="footer_icon message_toggle"><i class="fa-solid fa-message"></i></p></a>
    <a href="/product-save"><p class="footer_icon" id="footer_save"><i class="fa-solid fa-cart-arrow-down"></i></p></a>
</nav>