<footer class="footer">
    <section class="head_footer">
        <div class="head_footer_txt">
            <p>Get in Gear with Rides.With.Jerry <br />
                <small>GOD.DID</small> <br /> <br />
            </p>
        </div>
    </section>

    <section class="top_footer">
        <div class="footer_quick_links">
            <p>Quick Links:</p> <br />
            <p>Browse Inventory: <br />
                <a href="/shop-brands"><small>Explore our vast selection of cars, trucks, and SUVs</small></a>
            </p>
            <p>Financing Options: <br />
                <small>Learn about our financing options and get pre-approved</small>
            </p>
            <p>Trade-In Value: <br />
                <small>Get an estimate of your vehicle's trade-in value</small>
            </p>
            <p>Contact Us: <br />
                <a href="#footer_contact"><small>Reach out to us with any questions or concerns</small></a>
            </p>
        </div>

        <div class="footer_resources">
            <p>Resources:</p> <br />
            <p>Car Buying Guide: <br />
                <a href="#car_buying"><small>Learn everything you need to know about buying a car</small></a>
            </p>
            <p>Car Maintenance Tips: <br />
                <a href="#car_care"><small>Get expert advice on how to keep your vehicle running smoothly</small></a>
            </p>
            <p>FAQs: <br />
                <a href="#faq"><small>Find answers to frequently asked questions about our website and services</small></a>
            </p>
        </div>
    </section>

    <section class="bottom_footer">
        <div class="footer_legal">
            <p>Legal Stuff:</p> <br />
            <p>Terms and Conditions: <br />
                <a href="/policy"><small class="policy_toggle">Read our terms and conditions of use</small></a>
            </p>
            <p>Privacy Policy: <br />
                <a href="/policy"><small class="policy_toggle">Learn how we protect your personal information</small></a>
            </p>
            <p>Disclaimer: <br />
                <a href="/policy"><small class="policy_toggle">View our disclaimer and limitations of liability</small></a>
            </p>
        </div>

        <div id="footer_contact" class="footer_contact">
            <p>Address and Contact Info:</p> <br />
            <p>Physical Address: <br />
                <small>Nigeria</small>
            </p>
            <p>Phone Number: <br />
                <a href="tel:+2347081065179"><small>+234-708-106-5179</small></a>  &amp; <a href="tel:+2347059489788"><small>+234-705-948-9788</small></a>
            </p>
            <p>Email: <br />
                <a href="mailto:rideswithjerry@gmail.com"><small>Click to send a mail!</small></a>
            </p>
        </div>
    </section>
    
    <section class="bottom_footer_main">
        <div class="bottom_footer_main_txt">
            <p>Stay Connected:</p> <br />
            <p>WhatsApp <i class="fa-brands fa-whatsapp fa-bounce"></i>: <br />
                <a href="https://wa.me/+2347059489788?text=Hi%2C%20I%27m%20interested%20in%20purchasing%20your%20RIDE.%20Can%20you%20please%20provide%20more%20information%20on%20the%20car%27s%20condition%20and%20history%3F"><small>To get an instant response from our sales team</small></a>
            </p>
            <p>Facebook <i class="fa-brands fa-facebook-f fa-bounce"></i>: <br />
                <a href="https://www.facebook.com/rideswithjerry/"><small>Follow us for exclusive deals and promotions</small></a>
            </p>
            <p>Instagram <i class="fa-brands fa-instagram fa-bounce"></i>: <br />
                <a href="https://www.instagram.com/rideswithjerry/"><small>Get a glimpse of our latest arrivals and behind-the-scenes moments</small></a>
            </p>
            <p>X <i class="fa-brands fa-x-twitter fa-bounce"></i>: <br />
                <a href="https://x.com/Jere______Miah/"><small>Stay up-to-date with the latest news and updates</small></a>
            </p>
            <p>YouTube <i class="fa-brands fa-youtube fa-bounce"></i>: <br />
                <small>Watch video reviews and walkthroughs of our vehicles</small>
            </p>
            <p>LinkedIn <i class="fa-brands fa-linkedin-in fa-bounce"></i>: <br />
                <a href="https://www.linkedin.com/in/okwudiri-jeremiah-akumefule-b042a3295/"><small>Stay connected so we can know you better</small></a>
            </p> <br /> <br />
            <p>Copyright &copy; 2026 Rides.With.Jerry. All Rights Reserved.</p>
        </div>
    </section>
</footer>