<nav class="mobile">
    <ul class="head_nav">
        <li class="logo">Rides <br> With <br> Jerry</li>
        <li class="news">News</li>
        <a href="/login"><li id="login_icon" class="nav_icon"><i class="fa-solid fa-user"></i></li></a>
        <a href="/more">
            <li class="nav_bar" id="bar">
                <p class="bar bar1"></p>
                <p class="bar bar2"></p>
                <p class="bar bar3"></p>
            </li>
        </a>
    </ul>
</nav>