<nav id="top_nav">
    <p id="top_nav_txt" class="top_nav_txt">NOTE: You inspect before payments. We sell and buy a wide range of new and used cars, trucks, SUVs, and vans from various manufacturers. We are currently on exclusive deals which ends on the 29th of October 2024, so you get clean discounts on every vehicle purchased within this time frame. Financing options and monthly payments available.</p>
    <div class="top_nav_bar">
        <p class="bar bar1"></p>
        <p class="bar bar2"></p>
    </div>
</nav>