<div class="user_right_nav">

    <div class="toggle_cont">
        <p><i id="on_user_right_nav" class="fa-solid fa-toggle-on"></i></p>
        <p><i id="off_user_right_nav" class="fa-solid fa-toggle-off"></i></p>
    </div>
    <div class="username_container">
        <p id="dual_side_logged_user_username"></p>
    </div>

    <div class="call_cont">
        <a href="tel:+2347081065179"><i class="fa-solid fa-phone fa-fade"></i></a>
    </div>

</div>
