<nav class="wide_screen">
    <ul class="head_nav">
        <li class="logo">Rides.With.Jerry</li>
        <a href="/my-account"><li class="nav_item my_account_toggle">My Account</li></a>
        <a href="/sell"><li class="nav_item sell_car_toggle">Sell My Car</li></a>
        <a href="/sell"><li class="nav_item sell_car_toggle">Become A Dealer</li></a>
        <li class="nav_item">You're Appreciated!</li>
        <a href="/login"><li id="wide_login_icon" class="nav_icon"><i class="fa-solid fa-user"></i></li></a>
        <li class="nav_news">News</li>
    </ul>
</nav>