<div id="brands_toggle">

    <ol id="brands">
        <a href="/shop-products?id=toyota"><li id="toyota_shop">Toyota</li></a>
        <a href="/shop-products?id=honda"><li>Honda</li></a>
        <a href="/shop-products?id=hyundai"><li>Hyundai</li></a>
        <a href="/shop-products?id=kia"><li>Kia</li></a>
        <a href="/shop-products?id=nissan"><li>Nissan</li></a>
        <a href="/shop-products?id=ford"><li>Ford</li></a>
        <a href="/shop-products?id=mercedes"><li>Mercedes Benz</li></a>
        <a href="/shop-products?id=volkswagen"><li>Volkswagen</li></a>
        <a href="/shop-products?id=rolls"><li>Rolls-Royce</li></a>
        <a href="/shop-products?id=peugeot"><li>Peugeot</li></a>
        <a href="/shop-products?id=chevrolet"><li>Chevrolet</li></a>
        <a href="/shop-products?id=bmw"><li>BMW</li></a>
        <a href="/shop-products?id=lexus"><li>Lexus</li></a>
        <a href="/shop-products?id=mitsubishi"><li>Mitsubishi</li></a>
        <a href="/shop-products?id=audi"><li>Audi</li></a>
        <a href="/shop-products?id=land"><li>Land Rover</li></a>
        <a href="/shop-products?id=jeep"><li>Jeep</li></a>
        <a href="/shop-products?id=porsche"><li>Porsche</li></a>
        <a href="/shop-products?id=dodge"><li>Dodge</li></a>
        <li>Subaru</li>
        <li>Mazda</li>
        <li>Chrysler</li>
        <li>Volvo</li>
        <li>Acura</li>
        <li>Infiniti</li>
        <li>Tesla</li>
        <li>Maserati</li>
        <li>Jaguar</li>
        <li>Lincoln</li>
        <li>Alfa Romeo</li>
        <li>Mini</li>
        <li>Buick</li>
        <li>Cadillac</li>
        <li>Genesis</li>
        <li>Rivian</li>
        <li>GMC</li>
    </ol>
    
    <section class="wide_my_account">
        <div class="wide_my_account_wrapper">
            <p>My Account Details</p>
            <form action="" method="post">
                <label for="name">Username:</label>
                <input id="wide_acc_username" type="text" readonly />

                <label for="location">Country:</label>
                <input id="wide_acc_country" type="text" readonly />

                <label for="location">City:</label>
                <input id="wide_acc_city" type="text" readonly />

                <label for="contact">Phone Number:</label>
                <input id="wide_acc_contact" type="number" name="contact" readonly />

                <label for="email">Email:</label>
                <input id="wide_acc_email" type="email" readonly />

                <p><a href="/resetoption">Forgot password?</a></p>
            </form>
        </div>
    </section>


</div>



<section class="my_account">
    <div class="my_account_wrapper">
        <p>My Account Details</p>
        <form action="" method="post">
            <label for="name">Username:</label>
            <input id="mobile_acc_username" type="text" readonly />

            <label for="location">Country:</label>
            <input id="mobile_acc_country" type="text" readonly />

            <label for="location">City:</label>
            <input id="mobile_acc_city" type="text" readonly />

            <label for="contact">Phone Number:</label>
            <input id="mobile_acc_contact" type="number" name="contact" readonly />

            <label for="email">Email:</label>
            <input id="mobile_acc_email" type="email" readonly />

            <p><a href="/resetoption">Forgot password?</a></p>
        </form>
    </div>
</section>