<% for(key of jsNewsdata) { %>
<div class="news_intro_item">
    <div class="news_intro_img">
        <img loading="lazy" src="<%= key.imagePath %>" alt="Latest News Image!" />
    </div>
    <div class="news_intro_txt">
        <a href="/update?id=<%= key.newsId %>">
            <p><%= key.newsIntro %></p> 
        </a>
    </div>
</div> 

<% } %> 