<div class="news_intro_item">
    <div class="news_intro_img">
        <img loading="lazy" src="({% NEWS_IMG %})" alt="Latest News Image!" />
    </div>
    <div class="news_intro_txt">
        <a href="/update?id=({% NEWS_ID %})">
            <p>({% NEWS_INTRO %})</p>
        </a>
    </div>
</div>