<section class="save_mobile_shop">
    <div class="save_shop_slider">
        <div class="save_shop_img_wrapper">
            <img loading="lazy" id="save_shop_slider_img" src="gallery/brands_rated/RWJ.avif" alt="You're Appreciated!" />
            <p id="save_shop_slider_txt">Welcome</p>
        </div>
    </div>

    <div class="save_shop_items_wrapper">

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>TOYOTA CAMRY LE</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\toyota_imgs\toyota_camry_le\toyota_camry_le_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$26,420</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=toyota-6"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Toyota Camry LE is around 9.6 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>AUDI RS E-TRON GT PRESTIGE</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\audi_imgs\audi_RS_e_tron_GT_Prestige\audi_rs_etron_gt_prestige_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$147,100</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=audi-7"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Audi RS e-tron GT Prestige is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>BMW X SERIES X5 M</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\bmw_imgs\BMW_X_series_X5_M\bmw_x_series_x5_m_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$105,100</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=bmw-5"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the BMW X5 M is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>CHEVROLET CORVETTE 1LT</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\chevrolet_imgs\Chevrolet_Corvette_1LT\chevrolet_corvette_1LT_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$59,995</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=chevrolet-2"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Chevrolet Corvette 1LT is around 9.2 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>DODGE CHALLENGER SRT DEMON 170</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\dodge_imgs\Dodge_Challenger_SRT_Demon_170\dodge_challenger_srt_demon_170_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$96,808</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=dodge-1"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Dodge Challenger SRT Demon is around 4.9 out of 5 stars</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>FORD MUSTANG SHELBY GT350R</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\ford_imgs\ford_mustang_shelby_GT350R\ford_mustang_shelby_gt350r_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$62,495</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=ford-6"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Ford Mustang Shelby GT350R is around 9.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>HONDA NSX TYPE S</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\honda_imgs\honda_nsx_type_s\honda_nsx_type_s_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$169,500</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=honda-9"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Honda NSX Type S is around 9.0 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>HYUNDAI SANTA-FE CALLIGRAPHY</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\hyundai_imgs\hyundai_santa_fe_calligraphy\hyundai_santa_fe_calligraphy_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$42,000</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=hyundai-7"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Hyundai Santa Fe Calligraphy is around 9.0 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>JEEP GRAND CHEROKEE TRACKHAWK</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\jeep_imgs\Jeep_Grand_Cherokee_Trackhawk\jeep_grand_cherokee_trackhawk_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$89,000</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=jeep-4"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The Jeep Grand Cherokee Trackhawk has an overall rating of 9.0 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>KIA STINGER GT2</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\kia_imgs\kia_stinger_gt2\kia_stinger_gt2_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$51,890</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=kia-6"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Kia Stinger GT2 is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>RANGE ROVER SPORT SV</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\land_imgs\range_rover_sport_sv\range_rover_sport_sv_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$180,000</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=land-3"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Range Rover Sport SV is around 8.6 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>LEXUS IS-350 F-SPORT</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\lexus_imgs\lexus_is_350_f_sport\lexus_is_350_f_sport_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$44,410</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=lexus-4"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Lexus IS-350 F-Sport is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>MERCEDES BENZ C-300 PINNACLE</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\mercedes_imgs\mercedes_benz_c_300_pinnacle\mercedes_benz_c_300_pinnacle_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$48,450</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=mercedes-6"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Mercedes-Benz C 300 Pinnacle is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>MITSUBISHI OUTLANDER SEL PREMIUM</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\mitsubishi_imgs\Mitsubishi_Outlander_SEL_Premium\mitsubishi_outlander_sel_premium_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$37,645</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=mitsubishi-7"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the 2024 Mitsubishi Outlander SEL Premium is around 8.1 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>NISSAN PATHFINDER PLATINUM</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\nissan_imgs\nissan_pathfinder_platinum\nissan_pathfinder_platinum_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$46,000</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=nissan-4"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the 2022 Nissan Pathfinder Platinum is around 8.5 out of 10</p>
            </div>
        </div>

        <div class="save_shop_item">
                <div class="save_item_name">
                    <p>PEUGEOT 5008 GT</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\peugeot_imgs\peugeot_5008_gt\peugeot_5008_gt_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$62,990</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=peugeot-5"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the PEUGEOT 5008 GT is arround 8.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>PORSCHE 718 BOXSTER GTS 4.0</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\porsche_imgs\Porsche_718_Boxster_GTS_4_0\porsche_718_boxster_gts_4_0_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$101,800</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=porsche-1"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Porsche 718 Boxster GTS 4.0 X-Pro is around 9.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>ROLLS ROYCE PHANTOM VIII</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\rolls_royce_imgs\rolls_royce_phantom_viii\rolls_royce_phantom_viii_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$493,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=rolls-5"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Rolls-Royce Phantom VIII is around 4.5 out of 5 stars</p>
                </div>
            </div>

        <div class="save_shop_item">
            <div class="save_item_name">
                <p>VOLKSWAGEN ATLAS SEL PREMIUM</p>
            </div>
            <div class="save_item_img_wrapper">
                <img loading="lazy" src="gallery\volkswagen_imgs\volkswagen_Atlas_SEL_Premium\volkswagen_atlas_sel_premium_front.avif" alt="Rides front view">
                <div class="save_item_price">
                    <p>$51,445</p>
                    <a href="/buy"><p id="buy_now">Buy Now</p></a>
                    <a href="/product-desc?id=volkswagen-1"><p id="description">Description</p></a>
                </div>
            </div>
            <div class="rate">
                <p>The overall rating of the Volkswagen Atlas SEL Premium is around 8.5 out of 10</p>
            </div>
        </div>

        
    </div>
</section>



<div id="brands_toggle">
    
    <ol id="brands">
        <a href="/shop-products?id=toyota"><li id="toyota_shop">Toyota</li></a>
        <a href="/shop-products?id=honda"><li>Honda</li></a>
        <a href="/shop-products?id=hyundai"><li>Hyundai</li></a>
        <a href="/shop-products?id=kia"><li>Kia</li></a>
        <a href="/shop-products?id=nissan"><li>Nissan</li></a>
        <a href="/shop-products?id=ford"><li>Ford</li></a>
        <a href="/shop-products?id=mercedes"><li>Mercedes Benz</li></a>
        <a href="/shop-products?id=volkswagen"><li>Volkswagen</li></a>
        <a href="/shop-products?id=rolls"><li>Rolls-Royce</li></a>
        <a href="/shop-products?id=peugeot"><li>Peugeot</li></a>
        <a href="/shop-products?id=chevrolet"><li>Chevrolet</li></a>
        <a href="/shop-products?id=bmw"><li>BMW</li></a>
        <a href="/shop-products?id=lexus"><li>Lexus</li></a>
        <a href="/shop-products?id=mitsubishi"><li>Mitsubishi</li></a>
        <a href="/shop-products?id=audi"><li>Audi</li></a>
        <a href="/shop-products?id=land"><li>Land Rover</li></a>
        <a href="/shop-products?id=jeep"><li>Jeep</li></a>
        <a href="/shop-products?id=porsche"><li>Porsche</li></a>
        <a href="/shop-products?id=dodge"><li>Dodge</li></a>
        <li>Subaru</li>
        <li>Mazda</li>
        <li>Chrysler</li>
        <li>Volvo</li>
        <li>Acura</li>
        <li>Infiniti</li>
        <li>Tesla</li>
        <li>Maserati</li>
        <li>Jaguar</li>
        <li>Lincoln</li>
        <li>Alfa Romeo</li>
        <li>Mini</li>
        <li>Buick</li>
        <li>Cadillac</li>
        <li>Genesis</li>
        <li>Rivian</li>
        <li>GMC</li>
    </ol>
    
    <section class="save_wide_screen_shop">
        <div class="save_shop_slider">
            <div class="save_shop_img_wrapper">
                <img loading="lazy" id="save_wide_shop_slider_img" src="gallery/brands_rated/RWJ.avif" alt="You're Appreciated!" />
                <p id="save_wide_shop_slider_txt">Welcome</p>
            </div>
        </div>

        <div class="save_shop_items_wrapper">

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>TOYOTA CAMRY LE</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\toyota_imgs\toyota_camry_le\toyota_camry_le_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$26,420</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=toyota-6"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Toyota Camry LE is around 9.6 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>AUDI RS E-TRON GT PRESTIGE</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\audi_imgs\audi_RS_e_tron_GT_Prestige\audi_rs_etron_gt_prestige_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$147,100</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=audi-7"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Audi RS e-tron GT Prestige is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>BMW X SERIES X5 M</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\bmw_imgs\BMW_X_series_X5_M\bmw_x_series_x5_m_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$105,100</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=bmw-5"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the BMW X5 M is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>CHEVROLET CORVETTE 1LT</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\chevrolet_imgs\Chevrolet_Corvette_1LT\chevrolet_corvette_1LT_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$59,995</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=chevrolet-2"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Chevrolet Corvette 1LT is around 9.2 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>DODGE CHALLENGER SRT DEMON 170</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\dodge_imgs\Dodge_Challenger_SRT_Demon_170\dodge_challenger_srt_demon_170_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$96,808</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=dodge-1"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Dodge Challenger SRT Demon is around 4.9 out of 5 stars</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>FORD MUSTANG SHELBY GT350R</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\ford_imgs\ford_mustang_shelby_GT350R\ford_mustang_shelby_gt350r_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$62,495</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=ford-6"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Ford Mustang Shelby GT350R is around 9.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>HONDA NSX TYPE S</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\honda_imgs\honda_nsx_type_s\honda_nsx_type_s_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$169,500</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=honda-9"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Honda NSX Type S is around 9.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>HYUNDAI SANTA-FE CALLIGRAPHY</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\hyundai_imgs\hyundai_santa_fe_calligraphy\hyundai_santa_fe_calligraphy_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$42,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=hyundai-7"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Hyundai Santa Fe Calligraphy is around 9.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>JEEP GRAND CHEROKEE TRACKHAWK</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\jeep_imgs\Jeep_Grand_Cherokee_Trackhawk\jeep_grand_cherokee_trackhawk_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$89,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=jeep-4"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The Jeep Grand Cherokee Trackhawk has an overall rating of 9.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>KIA STINGER GT2</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\kia_imgs\kia_stinger_gt2\kia_stinger_gt2_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$51,890</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=kia-6"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Kia Stinger GT2 is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>RANGE ROVER SPORT SV</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\land_imgs\range_rover_sport_sv\range_rover_sport_sv_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$180,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=land-3"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Range Rover Sport SV is around 8.6 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>LEXUS IS-350 F-SPORT</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\lexus_imgs\lexus_is_350_f_sport\lexus_is_350_f_sport_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$44,410</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=lexus-4"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Lexus IS-350 F-Sport is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>MERCEDES BENZ C-300 PINNACLE</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\mercedes_imgs\mercedes_benz_c_300_pinnacle\mercedes_benz_c_300_pinnacle_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$48,450</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=mercedes-6"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Mercedes-Benz C 300 Pinnacle is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>MITSUBISHI OUTLANDER SEL PREMIUM</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\mitsubishi_imgs\Mitsubishi_Outlander_SEL_Premium\mitsubishi_outlander_sel_premium_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$37,645</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=mitsubishi-7"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the 2024 Mitsubishi Outlander SEL Premium is around 8.1 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>NISSAN PATHFINDER PLATINUM</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\nissan_imgs\nissan_pathfinder_platinum\nissan_pathfinder_platinum_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$46,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=nissan-4"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the 2022 Nissan Pathfinder Platinum is around 8.5 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>PEUGEOT 5008 GT</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\peugeot_imgs\peugeot_5008_gt\peugeot_5008_gt_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$62,990</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=peugeot-5"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the PEUGEOT 5008 GT is arround 8.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>PORSCHE 718 BOXSTER GTS 4.0</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\porsche_imgs\Porsche_718_Boxster_GTS_4_0\porsche_718_boxster_gts_4_0_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$101,800</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=porsche-1"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Porsche 718 Boxster GTS 4.0 X-Pro is around 9.0 out of 10</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>ROLLS ROYCE PHANTOM VIII</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\rolls_royce_imgs\rolls_royce_phantom_viii\rolls_royce_phantom_viii_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$493,000</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=rolls-5"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Rolls-Royce Phantom VIII is around 4.5 out of 5 stars</p>
                </div>
            </div>

            <div class="save_shop_item">
                <div class="save_item_name">
                    <p>VOLKSWAGEN ATLAS SEL PREMIUM</p>
                </div>
                <div class="save_item_img_wrapper">
                    <img loading="lazy" src="gallery\volkswagen_imgs\volkswagen_Atlas_SEL_Premium\volkswagen_atlas_sel_premium_front.avif" alt="Rides front view">
                    <div class="save_item_price">
                        <p>$51,445</p>
                        <a href="/buy"><p id="buy_now">Buy Now</p></a>
                        <a href="/product-desc?id=volkswagen-1"><p id="description">Description</p></a>
                    </div>
                </div>
                <div class="rate">
                    <p>The overall rating of the Volkswagen Atlas SEL Premium is around 8.5 out of 10</p>
                </div>
            </div>

        </div>
    </section>

</div>

