<div class="shop_item">
    <div class="item_name">
        <p>
            <b>({% NAME %})</b>
        </p> <br />
    </div>
    <div class="item_img_wrapper">
        <img loading="lazy" src="({% IMG_FRONT %})" alt="Ride Front View Image">
        <div class="item_price">
            <p>({% PRICE %})</p>
            <a href="/buy"><p id="buy_now">Buy Now</p></a>
            <a href="/product-desc?id=({% ID %})"><p id="description">Description</p></a>
        </div>
    </div>
    <div class="rate">
        <p>({% RATE %})</p>
    </div> <br /> <br />
</div>